[submodule "rpclib"]
	path = rpclib
	url = https://github.com/LeHuman/rpclib
[submodule "asio"]
	path = asio
	url = https://github.com/LeHuman/asio
[submodule "cryptopp"]
	path = cryptopp
	url = https://github.com/weidai11/cryptopp
[submodule "cryptopp-cmake"]
	path = cryptopp-cmake
	url = https://github.com/LeHuman/cryptopp-cmake
[submodule "tclap"]
	path = tclap
	url = https://git.code.sf.net/p/tclap/code
